*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.cache
.kotlin
/local.properties
app/release/
*.keystore
!debug.keystore
*.jks
*.apk
/app/build
/core/build
